<div class="d-flex flex-row">
  <div style="flex: 0 0 50%" class="p-5">
    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>

    <div>
      <div class="block">
        Bla bla bla
      </div>
    </div>
  </div>

  <div style="flex: 0 0 50%" class="p-5 write-right">
    <div>
      <div class="block">
        Lorem ipsum dolor sit amet
      </div>

      <div class="blocks">
        <div>
          <div class="block">consectetur adipisicing elit</div>
          <div class="blocks">
            <div>
              <div class="block">Deserunt nihil distinctio quas</div>
              <div class="blocks">
                <div>
                  <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
                </div>
              </div>
            </div>

            <div>
              <div class="block">, iste, recusandae reiciendis doloribus inventore</div>
              <div class="blocks">
                <div>
                  <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
                </div>
              </div>
            </div>

            <div>
              <div class="block">facere consectetur maiores ad ipsam accusamus explicabo similique commodi libero incidunt doloremque autem.</div>
              <div class="blocks">
                <div>
                  <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
                </div>
              </div>
            </div>

            <div>
              <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
            </div>
          </div>
        </div>

        <div>
          <div class="block">Seconda ragione</div>
          <div class="blocks">
            <div>
              <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
            </div>
          </div>
        </div>

        <div>
          <div class="block">Terza ragione</div>
          <div class="blocks">
            <div>
              <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
            </div>
          </div>
        </div>

        <div>
          <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
        </div>
      </div>
    </div>

    <div>
      <div class="block block--phantom">trascina qui per aggiungere una ragione</div>
    </div>
  </div>
</div>
