<% content_for :outer_container do %>
  <div class="welcome-image">
  </div>
<% end %>

<%= render 'blocks/block', block: @spiegami_block %>

<% content_for :bottom_container do %>
  <div class="text-center mt-5">
    <%= link_to 'Ora tocca a te', prototype_path, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
