<div class="blocks mt-3">
  <% block.referenced_blocks.each do |referenced_block| %>
    <div class="inner-block <%= 'with-referenced-blocks' if referenced_block.referenced_blocks.present? %>">
      <%= render 'blocks/simple_block', block: referenced_block %>
    </div>
  <% end %>
</div>