<div class="blocks mt-3">
  <% block.referenced_blocks.each do |referenced_block| %>

    <% if referenced_block.referenced_blocks.blank? %>
      <div class="inner-block">
        <%= render 'blocks/simple_block', block: referenced_block %>
      </div>
    <% else %>
      <%= link_to referenced_blocks_block_path(referenced_block),
        remote: true,
        class: 'inner-block' do %>
        <%= render 'blocks/simple_block', block: referenced_block %>
      <% end %>
    <% end %>
  <% end %>
</div>