<div class="simple-block"  data-block-id="<%= block.id %>">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <strong class="col-md-3"><%= block.title %></strong>

        <div class="body col-md-9">
          <%= block.body %>
        </div>

      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div class="author">
        Carlo Martinucci
      </div>
      <div class="referenced-blocks-count">
        <%= block.referenced_blocks.count %> argomentazioni > 
      </div>
    </div>
  </div>
  <div class="blocks"></div>
</div> 
