@import "bootstrap";

@import "welcome";
@import "blocks";

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: Raleway;
}

h1 {
  margin-bottom: 2rem;
}

h4 {
  color: #b0d2fb;
  text-transform: uppercase;
  border-bottom: 2px solid;
}

.simple-nav {
  .navbar-brand {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
  }
}

hr {
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

footer {
  background-color: #F0F2F5;
  margin-top: 3rem;
}

.simple-block {
  padding-left: 3rem;

  .card {
    max-width: 50rem;

    .card-footer {
      background-color: white;
    }
  }
}


.inner-block {
  color: #212529;

  &:hover {
    text-decoration: none;
  }

  &.with-referenced-blocks {
    & > .simple-block {
      & > .card {
        cursor: pointer;
      }
    }
  }
}

.write-left {
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.write-right {
  background-color: #F0F2F5;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

