// Place all the styles related to the blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block-container {
  width: 400px;
}

.block {
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  cursor: move;
}

.blocks {
  margin-left: 20px;
}

.blocks .block {
  background-color: #e3ffe1;
}

.blocks .blocks .block {
  background-color: #dfeaf7;
}

.block--phantom {
  opacity: 0.3;
}
